//===================================================================
//  SIGN-IN
//===================================================================

.sign-in-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-logo {
  width: 80%;
  height: 80%;
  background-image: url('img/glare.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
