$loading-height: 100px !default;

.loader-overlay {
  z-index: 100;
  -webkit-transform: translate3d(0,0,10px);
  transform: translate3d(0,0,1px);
  min-width: 100%;
  min-height: 100%;
}

.loader-underlay {
  z-index: 1;
  background-color: transparent;
  -webkit-transform: translate3d(0,0,0px);
  transform: translate3d(0,0,0px);
  min-width: 100%;
  min-height: 100%;
}

/* Universal styling */
[class^="shaft-load"] {
  margin: 50px auto;
  @include size(60px, 30px);
  > div {
    float: left;
    background: $purple;
    height: $loading-height;
    width: 5px;
    margin-right: 1px;
    display: inline-block;
  }
}

/* Shaft 4 */
.shaft-load4 {
  margin-top: 50%;
  width: 48%;
  > div {
    margin-right: 0;
    @include animation(loading4 2.5s infinite ease-in-out);
    width: 10%;
    @include opacity(0);
    @include transform(scaleY(0.1));
  }

  .shaft1 { @include animation-delay(0.1s); }
  .shaft2 { @include animation-delay(0.2s); }
  .shaft3 { @include animation-delay(0.3s); }
  .shaft4 { @include animation-delay(0.4s); }
  .shaft5 { @include animation-delay(0.5s); }
  .shaft6 { @include animation-delay(0.6s); }
  .shaft7 { @include animation-delay(0.7s); }
  .shaft8 { @include animation-delay(0.8s); }
  .shaft9 { @include animation-delay(0.9s); }
  .shaft10 { @include animation-delay(1s); }
}

@include keyframes(loading4) {
  50% {
    @include transform(scaleY(1.5));
    background: $teal;
    @include opacity(100);
  }
}

/* Shaft 11 */
.shaft-load11 {
  position: relative;
  @include square(100px);
  > div {
    background: transparent;
    border: 8px solid transparent;
    border-color: rgba($purple, 1) transparent;
    @include border-radius(100%);
    @include centerer;
    @include transform( translate(-50%, -50%) rotate(0));
    @include animation(loading11 2s infinite ease-in-out);
  }
  .shaft1 { @include animation-delay(0.1s); @include square(20px); }
  .shaft2 { @include animation-delay(0.2s); @include square(25px); }
  .shaft3 { @include animation-delay(0.3s); @include square(35px); }
  .shaft4 { @include animation-delay(0.4s); @include square(45px); }
  .shaft5 { @include animation-delay(0.5s); @include square(55px); }
  .shaft6 { @include animation-delay(0.6s); @include square(65px); }
  .shaft7 { @include animation-delay(0.7s); @include square(75px); }
  .shaft8 { @include animation-delay(0.8s); @include square(80px); }
  .shaft9 { @include animation-delay(0.9s); @include square(85px); }
  .shaft10 { @include animation-delay(1.0s); @include square(90px); }
}

@include keyframes(loading11) {
  50% {
    @include transform( translate(-50%, -50%) rotate(360deg));
    border-color: rgba($teal, 1) transparent;
  }
}
