.connect-container {
  min-width: 100%;
  position: relative;
  transition: all 750ms ease-in-out;
  &.blurred {
    filter: blur(10px);
  }
}

.connect-beacons {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;

  >.connect-message {
    font-size: rem(16px);
    margin-bottom: 10px;
    text-align: center;

    padding: 20px;

    >.connect-learn-more {
      font-size: rem(14px);
      margin-top: 10px;
      color: $teal;
    }
  }

  >.beacon-divider {
    height: 10px;
    margin-bottom: 20px;
    width: 60%;
    border-bottom: 1px solid #555;
  }
}
