.notif-container {
  position: fixed;
  top: $header-height + 10px;
  right: 0;
  left: 0;
  z-index: $z-notifications;
  width: 80%;
  max-width: 400;
  margin: auto;
}

.notif-enter {
  margin-top: -30px;
  opacity: 0.01;
  transition: all .2s ease-in-out;
}

.notif-enter.notif-enter-active {
  margin-top: 0px;
  opacity: 1;
}

.notif-leave {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.notif-leave.notif-leave-active {
  margin-top: -30px;
  opacity: 0.01;
}
