//===================================================================
//  SETTINGS
//===================================================================

$teal:     #56D7C6 !default;
$purple:   #B96CFF !default;
$blue:     #222232 !default;

$base-background-color: $blue;
$base-font-color: #999 !default;
$base-font-family: 'aktiv-grotesk-std', Helvetica Neue, Arial, sans-serif !default;
$base-font-size: 22px !default;
$base-line-height: 30px !default;


//===============================================
//  GRID
//===============================================
$grid-max-width: 810px !default;
