//===================================================================
//  SETTINGS
//===================================================================

$teal: #56D7C6 !default;
$purple: #B96CFF !default;
$darkBlue: #222232 !default;

$dull: #666;
$semi-dull: #888;

$base-background-color: $darkBlue;
$base-font-color: #999 !default;
$base-font-family: 'aktiv-grotesk-std', Helvetica Neue, Arial, sans-serif !default;
$base-font-size: 22px !default;
$base-line-height: 30px !default;

$bright-font-color: #ddd !default;

//===============================================
//  ALIGNMENT
//===============================================
$grid-max-width: 810px !default;
$header-height: 70px;
$footer-height: 60px;
