//===================================================================
//  FOOTER
//===================================================================

.footer {
  display: flex;
  padding: 10px;
  height: 60px;
  overflow: hidden;
  line-height: 40px;
  font-size: rem(14px);
  justify-content: space-between;
}
