//===================================================================
//  HEADER
//===================================================================

.header {
  display: flex;
  padding: 10px;
  height: 60px;
  overflow: hidden;
  line-height: 40px;
  font-size: rem(14px);
  justify-content: space-between;
}

.user-pieces {
  li {
    float: left;
    list-style: none;

    &:last-child {
      margin-left: 12px;
      padding-left: 12px;
      border-left: 1px solid #333;
    }

    &:first-child {
      border: none;
    }
  }
}


.user-piece a {
  color: inherit;
  text-decoration: underline;
  text-rendering: auto;
}
