//===================================================================
//  HEADER
//===================================================================

.header {
  z-index: 2;
  position: absolute;
  top: 0px;
  min-width: 100%;

  display: flex;
  padding: 10px;
  height: $header-height;
  overflow: hidden;
  line-height: 40px;
  font-size: rem(14px);
  justify-content: space-between;
}

.header-back {
  flex-basis: 60px;
  text-align: left;
}

.header-menu {
  flex-basis: 60px;
  text-align: right;
}

.header-logo {
  height: 50px;
  width: 100px;
  background-image: url('img/glare.png');
  background-size: cover;
  background-position: center;
  filter: brightness(130%);

}

.user-pieces {
  li {
    float: left;
    list-style: none;

    &:last-child {
      margin-left: 12px;
      padding-left: 12px;
      border-left: 1px solid #333;
    }

    &:first-child {
      border: none;
    }
  }
}


.user-piece a {
  color: inherit;
  text-decoration: underline;
  text-rendering: auto;
}
