//===================================================================
//  HEADER
//===================================================================

.header {
  padding: 10px 0;
  height: 60px;
  overflow: hidden;
  line-height: 40px;
}


.header-title {
  float: left;
  font-size: rem(14px);
  font-weight: 400;
  text-rendering: auto;
  transform: translate(0,0);
}


.header-links {
  @include clearfix;
  float: right;
  padding: 8px 0;
  line-height: 24px;

  li {
    float: left;
    list-style: none;

    &:last-child {
      margin-left: 12px;
      padding-left: 12px;
      border-left: 1px solid #333;
    }

    &:first-child {
      border: none;
    }
  }
}


.header-link {
  display: block;
  color: inherit;
  font-size: rem(14px);
  text-decoration: none;
  text-rendering: auto;
  transform: translate(0,0);
}
