//===================================================================
//  MAIN
//===================================================================

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;

  // background-image: url("../img/glare.png");
  background-repeat: no-repeat;
  background-position: 0% 30%;
  background-size: 100%;

  padding-bottom: 44px;
}

.main {
  height: 100vh;
  display: flex;
  flex: 1;
  z-index: 1;
  transform: translate3d(0,0,0px);
}

.action-buttons {
  position: absolute;
  margin-bottom: $footer-height;
  bottom: 0px;
  z-index: 10;
  min-width: 100%;
  z-index: 10;
  transform: translate3d(0,0,1px);
  display: flex;
  flex-direction: column;
  align-items: center;

  >.aside {
    text-decoration: none;
    color: #999;
    margin-bottom: 10px;
    font-size: rem(15px);
  }
}

.glare-button {
  // @include button-base;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #555;
  padding: 0;
  width: 80%;
  height: 48px;
  font-family: inherit;
  font-size: rem(18px);
  line-height: 48px;
  color: #999;
  background: $base-background-color;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  touch-action: none;

  >svg {
    margin-right: 10px;
  }

  &.highlighted {
    border-color: $purple;
  }

  &.dull {
    color: $dull;
  }
}

&.background-0 {
  background: linear-gradient(to top, #4776E6 , #8E54E9);
}
&.background-1 {
  background: linear-gradient(to top, #614385 , #516395);
}
&.background-2 {
  background: linear-gradient(to top, #EB3349 , #F45C43);
}
&.background-3 {
  background: linear-gradient(to top, #16222A , #3A6073);
}
&.background-4 {
  background: linear-gradient(to top, #0C865B , #60C656);
}
&.background-5 {
  background: linear-gradient(to top, #1F1C2C , #928DAB);
}
