//===================================================================
//  SIDEBAR
//===================================================================

.sidebar-container {
  z-index: 100;
  height: 100%;
  width: 50%;
  position: relative;
  display: flex;
  background-color: $base-background-color;
}
