.intro-container {
  z-index: 10;
  min-width: 100%;
  min-height: 100%;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-page {
  width: 80%;
  min-height: 50%;
  position: relative;
  border: 1px solid #555;
}


.intro-messages {
  text-align: center;
  .intro-signoff {
    width: 150px;
    height: 70px;
    background-image: url('img/the-m-machine.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.intro-progress {
  margin-top: 30px;
  width: 200px;
  height: 20px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  .progress-icon {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #555;

    &.passed {
      background-color: #AAA;
    }
  }
}
