.globe-container {
  position: absolute;
  min-width: 100%;
  min-height: 80%;
  filter: blur(0px);
  transition: all 750ms ease-in-out;
  &.connecting {
    filter: blur(10px);
  }
}

.globe-underlay {
  z-index: 1;
  background-color: transparent;
  -webkit-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
  position: absolute;
  min-width: 100%;
  min-height: 100%
}
